.f-table {
    font-size: 14px;

    .f-table-header,
    .f-table-row {
        display: flex;
        border-bottom: 1px solid #ddd;
        text-align: left;
        min-height: 40px;
        line-height: 40px;
    }

    .f-table-header {
        color: #909399;
    }

    .f-table-row {
        color: #606266;
    }

    .f-table-cell {
        margin: 0 10px;
    }

}