.f-table {
    font-size: 14px;
    position: relative;

    .f-table-header,
    .f-table-row {
        display: flex;
        text-align: left;
        min-height: 40px;
        border-bottom: 1px solid #ddd;
    }

    .f-table-header {
        color: #909399;
    }

    .f-table-body {
        color: #606266;

    }

    .f-table-cell {

        display: inline-block;
        padding: 10px 0;

        .cell {

            padding: 0 10px;
            word-break: break-all;

        }

    }

}

.f-table-fixed {
    position: relative;

    .table-inner-wrapper {

        .header-wrapper,
        .body-wrapper {
            white-space: nowrap;
            // position: relative;
            // width: 100%;
        }

        // .foot-wrapper {
        // }

        .f-table-header,
        .f-table-row {
            display: block;
            white-space: nowrap;

        }

        .f-table-cell-fixed {
            background: #fff;
            z-index: 99;
            // position:absolute;
            left: 0;
        }

    }

    .slider-bar {
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.05);
        height: 8px;

        div {
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.1);
            height: 100%;
            width: 100px;
        }
    }

    overflow: hidden;

   

}