.f-table {
  font-size: 14px;
  position: relative;
}
.f-table .f-table-header,
.f-table .f-table-row {
  display: flex;
  text-align: left;
  min-height: 40px;
  border-bottom: 1px solid #ddd;
}
.f-table .f-table-header {
  color: #909399;
}
.f-table .f-table-body {
  color: #606266;
}
.f-table .f-table-cell {
  display: inline-block;
  padding: 10px 0;
}
.f-table .f-table-cell .cell {
  padding: 0 10px;
  word-break: break-all;
}
.f-table-fixed {
  position: relative;
  overflow: hidden;
}
.f-table-fixed .table-inner-wrapper .header-wrapper,
.f-table-fixed .table-inner-wrapper .body-wrapper {
  white-space: nowrap;
}
.f-table-fixed .table-inner-wrapper .f-table-header,
.f-table-fixed .table-inner-wrapper .f-table-row {
  display: block;
  white-space: nowrap;
}
.f-table-fixed .table-inner-wrapper .f-table-cell-fixed {
  background: #fff;
  z-index: 99;
  left: 0;
}
.f-table-fixed .slider-bar {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  height: 8px;
}
.f-table-fixed .slider-bar div {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100px;
}
